/* Global */
body {
  font: 15px/1.5 "Oswald", Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
}

h1 {
  font-family: 'Roboto';
}

h3 {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

article {
  padding: 15px;
  margin: 10px 0px;
}

.container {
  width: 80%; /* centered page */
  margin: auto;
  overflow: hidden;
}

.dark {
  padding: 10px;
  background: #35424A;
  color: #FFFFFF;
  margin: 10px 0px;
}

.button_1 {
  height: 28px;
  background: #8eb5f2;
  border: none;
  padding: 0px 20px;
}

/* Header */
header {
  background: #888;
  color: #FFFFFF;
  padding-top: 10px;
  min-height: 70px; /* Responsive height */
  border-bottom: #8eb5f2 3px solid;
}

header img {
  float: left;
  max-width: 50px;
  padding-bottom: 10px;
}

header nav {
  float: right;
  margin-top: 3px;
  opacity: 0.7;
}

header nav:hover {
  opacity: 0.9;
}

header li {
  float: left;
  display: inline-block;
  padding: 15px 0px;
}

header a {
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 130%;
}

header a:hover {
  background-color: #333;
}

header #activepage a {
  color: #8eb5f2;
  font-weight: bold;
}
/* Dropdown Links */
/*li.dropdown {
	display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/
/* Footer */

/* Footer */
footer {
  font-family: 'Montserrat', monospace;
  font-size: 80%;
  padding: 3px;
  margin-top: 20px;
  text-align: center;
  background-color: #8eb5f2;
  clear: left;
}

/*Apply this Column ID to pages with sidebar*/
article#side-col, aside#contactform {
  float: left;
  width: 65%;
}

/* Sidebar Apply this ID to any sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
  text-align: center;
}

aside#sidebar img {
  max-width: 80%;
}

aside#sidebar p {
  padding: 5px;
}

/* Home - Showcase */
#showcase {
  min-height: 350px;
  background: url('../images/background.jpg') no-repeat 0 -400px;
  text-align: center;
}

#showcase h1 {
  margin-top: 75px;
  font-size: 45px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Home - Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* Pricing - Pricing Tiers*/
#paymentplans li {
  padding: 0px 5px;
  margin: 5px 0px;
  max-width: 500px;
}

#tiers_blue {
  background-color: #8eb5f2;
}

#tiers_gold {
  background-color: #fcbe4b;
}

#tiers_diamond {
  background-color: #e5e4e2;
}

#tiers_black {
  background-color: #36454f;
  color: #FFF;
}

/* Pricing - Payment Methods */
article#paymentmethods img{
  max-width: 70px;
  width: auto;
}


/* Contact - Social */
#contact ul li img, #contact ul li h3  {
  max-width: 25px;
  display: inline;
  padding: 5px;
  text-align: center;
}

/* Contact - Contact Me Form */
aside#contactform label, aside#contactform input, aside#contactform textarea {
  margin: 5px 0px;
  resize: vertical;
  width: 90%;
  max-height: 200px;
  padding: 5px;
}

/* Media Queries */
@media(max-width:768px) {
  body {
    text-align: center;
  }

  header img,
  header nav,
  header nav li,
  section #main,
  #boxes .box,
  article #side-col,
  aside #sidebar,
  aside #contactform {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  header a {
    padding: 1px;
    margin: 1px;
  }

  header nav li {
    display: inline;
  }

  footer {
    font-size: 70%;
    padding: 1px;
  }

  #showcase h1 {
    margin-top: 50px;
  }
}
